.termInfo {
  display: none;
}
#formGreet {
  display: none;
}

h3 {
  font-size: 20px;
  font-family: helvetica;
  cursor: pointer;
}

h3:hover {
  text-decoration: underline;
}

img {
  margin: auto;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
