.termInfo {
  display: none;
}

body {
  font-family: helvetica;
}

#formGreet {
  display: none;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  cursor: pointer;
}

h3:hover {
  text-decoration: underline;
}

img {
  margin: auto;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.textColor {
  color: #ab2e34;
}

.textSize {
  font-size: 50px;
}

.textStyle {
  font-style: italic;
  font-weight: bolder;
}

p.spanpic {
  margin-top: 30px;
  margin-bottom: 30px;
}

#catFloat {
  float: left;
}

a {
  font-size: 20px;
}

.terms {
  margin-bottom: 40px;
}
